

<div class="demo-wrap">
  <div class=" container header demo-content">
  <a class="navbar-brand" routerLink="">DEMO APP</a>
      <ul class="nav justify-content-end navbar ">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employers">Employers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile-view">User Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contectus">ContectUs</a>
        </li>
    
      </ul>

      <div class="container search">
        <div class="desc">
          <p>I'm Looking for..</p>
        </div>
        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="Enter The Jobs Description" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="button" class="btn btn-primary">search</button>
        </div>
        <div class="container">
          <div class="form-check">
            <label class="form-check-label" for="check1">
              <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Full Time
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="check2">
              <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">PartTime/Casual/FreeLance
            </label>
          </div>
        </div>

        <div class=button>
          <a class="btn btn-primary" (click)="onOpenDialogClick()" role="button">Register</a>
          
        </div>
      </div>

  </div>
</div>



  <div class="container">
    <div class="content">
      <p class="one">We're Leaders in</p>
      <p class="two">Creative Digital Recruitment</p>
      <hr  class="new1 ">
      <p >Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity and that reflects on the type of jobs we recruit for.</p>
    </div>
    <div class="button">
      <a class="btn btn-outline-primary" href="#" role="button">FIND OUT MORE ABOUT US!</a>
    </div>
  </div>
  
  <div class="emailSub ">
    
      <div class="email">
        <p class="sub">Subscribe to our Job Seeker Mailing List</p>
        <input type="email" name="email" placeholder="Enter your Email Address" >
      </div>
    
  </div>

  
<router-outlet></router-outlet>