
.demo-wrap{
    overflow: hidden;
    position: relative;
}
.demo-wrap:before{
        display: block;
        content: ' ';
        position: absolute;
        height: 500px;
        width: 100%;
        left: 0px;
        top: 0px;
        opacity: 0.8;
        background-image: url("../assets/Edu1.jpg");
        background-repeat: no-repeat;
       
        background-size: cover;
        
} 

.demo-content{
    position: relative;
}
.nav-link{
    text-decoration: none;
    margin-top: 20px;
    color: rgb(240, 230, 230);
}
.search{
    margin-bottom: 50px;
}
.desc{
    text-decoration:none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50;
    color: white;
}
.navbar-brand{
    color: white;
    text-decoration: none;
    text-align: right;
}
.form-check{
    color: white;
    padding: 5px;
    margin: 10px;
    
}
.button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.content{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
}
hr.new1{
    border: 2px solid rgb(8, 168, 241);
    width: 80px;
    border-radius: 2px;
}
.one{
    text-decoration: none;
    font-family: cursive;
}
.two{
    text-decoration: none;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.emailSub{
    background-color: rgb(68, 28, 28);
    color: white;
    height: 300px;
    width: 100%;
    opacity: 0.9;
}
.email{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
    position: absolute;
    text-align: center;
}
